:root {
    --black: #000000;
    --light-cold-gray: #f7f9fc;
    --gray: #838383;
    --dim-gray: rgb(105,105,105);
    --dark-cold-gray: #505e6c;
    --white: #ffffffff;
    --cosmic-latte: #fff8e8ff;
    --jasmine: #fcd581ff;
    --active-red: #f25577;
    --rusty-red: #d52941ff;
    --claret: #990d35ff;
    /* size */
    --size-title: 60px;
    --size-option: 25px;
    --size-small-msg: 18px;
    --size-error-msg: 22px;
    /* component box shadow */
    --component-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    /* animation */
    --translate-y-btn: translateY(3px);
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 1.5vw;
    font-family: "Clarkson", Helvetica, sans-serif;
}

html, body {
    height: 100%;
}