.question-window-container {
    /* border: 1px solid red; */
    width: 98vw;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
}

.question-window-container .window {
    width: 40vw;
    height: 30vh;
    box-shadow: var(--component-box-shadow-strong);
    border-radius: var(--border-radius);
    background-color: var(--white);
}

.question-window-container .window .info {
    height: calc((30vh / 6) * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vw;
}

.question-window-container .window .controls {
    height: calc((30vh / 6) * 2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}