.subject-details-view {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.subject-details-view .location {
    border-bottom: 1px solid var(--black);

    span {
        font-size: var(--size-option);
        font-weight: bold;
    }
}

.subject-details-view .container {
    box-shadow: var(--component-box-shadow);
    border-radius: var(--border-radius);
    /* padding-top: 2vh; */
    margin-top: 20px;
}

.subject-details-view .image-container {
    width: 100%;
    height: 200px;
    img {
        width: 100%;
        height: 100%; 
    }
}
.subject-details-view .teacher-pic-container {
    img {
        width: 100px;
        height: 120px; 
    }
}

.subject-details-view .upper-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.subject-details-view .lower-content {
    display: flex;
    border: 1px solid rgb(47, 255, 0);
}

.subject-details-view .infos-and-mininav {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.subject-details-view .infos {
    height: fit-content;
}

.subject-details-view .mininav {
    height: fit-content;
}