.materials-container {
    padding: 1vh 1vw;
    button:active {
        transform: var(--translate-y-btn);
    }
}

.materials-container .material {
    border: 1px solid var(--black);
    margin-top: 15px;
    padding: 2px;
    background-color: var(--background-gray);
    display: flex;
    flex-direction: row;
}

.materials-container .material:hover {
    box-shadow: var(--component-box-shadow);
}

.materials-container .file-icon-container {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
    img {
        width: 50px;
        height: calc((50px / 3) * 4);
    }
}

.materials-container .material .first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--cosmic-latte);
    padding: 10px;
    .name-container {
        min-width: 650px;
        width: 45vw;
        font-size: var(--size-text);
    }
}

.materials-container .teacher-material-creator {
    border: 1px solid var(--black);
    margin-top: 15px;
    padding: 10px;
    background-color: var(--background-gray);
    .group {
        label {
            font-size: var(--size-description);
            font-weight: bold;
        }
        input {
            /* border: transparent; */
            width: 600px;
            font-size: var(--size-description);
            padding: 5px 5px;
            font-family: var(--font-family);
        }
        textarea {
            /* border: transparent; */
            padding: 5px 5px;
            width: 900px;
            height: 250px;
            font-size: var(--size-description);
            font-family: var(--font-family);
        }
    }
    .add-margin-top{
        margin-top: 2vh;
    }
}

.materials-container .teacher-material-controls {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 18vw;
}

/* add class to hide elemnts */
.materials-container .hide {
    display: none !important;
}